body {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.app-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.app-footer {
  text-align: center;
  margin: 30px;
}
