body {
  background-color: #eeeeee;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.app-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.app-footer {
  text-align: center;
  margin: 30px;
}
